.kalkulator {
  width: 250px;
  margin: 50px auto;
  padding: 20px;
  border: 2px solid #FFCDC9;
  border-radius: 10px;
  background-color: #FFCDC9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#display {
  width: 100%;
  height: 60px;
  font-size: 24px;
  text-align: right;
  border: none;
  border-radius: 10px;
  background-color: #f0f0f0;
}

.tombol {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

button {
  width: 50px;
  height: 40px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  background-color: #FDACAC;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #FDACAC;
}

.footer{
    background-color: #28c34a;
    color: #fff;
    padding: 1em;
    text-align: center;
    clear: both;
    font-family: Arial, sans-serif;
    font-size: 18px
}
